<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('./partials/header.ejs') %>
  <body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
      <hr />
      <h1><%= question.title %></h1>
      <p><%= question.description %></p>
      <hr />
      <form method="POST" action="/answer">
        <h3>Responda</h3>
        <label>Resposta:</label>
        <textarea
          name="body"
          class="form-control"
          placeholder="Digite sua resposta"
        ></textarea>
        <br />
        <input type="hidden" name="question" value="<%= question.id %>" />
        <button type="submit" class="btn btn-primary">Responder</button>
      </form>
      <hr />
      <h3>Resposta</h3>
      <hr />
      <% answer.forEach(answer => { %>
      <br />
      <div class="card">
        <div class="card-body">
          <p>
            <%= answer.body %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
  <%- include ('./partials/footer.ejs') %>
</html>
