<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia Perguntas</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Guia perguntas.</h1>
    <img src="/img/guia.png" alt="Guia perguntas" />
    <hr />
    <p>Lista de perguntas</p>
    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Número de inscritos: <%= inscritos %></p>
    <hr />
    <% if (msg == true) { %>
    <h3>Mensagem de erro!</h3>
    <% } else {%>
    <h3>Nenhum erro!</h3>
    <%} %>
    <hr />
    <h3>Produtos</h3>
    <% produtos.forEach(produto => { %>
    <p>Nome: <%= produto.nome %>, preço: R$<%= produto.preco %></p>
    <% }) %>
  </body>
</html>
